#about
  #slideshow
    /*img height='323' src='/images/quisoc/perfilweb_1.jpg' width='228'*/
    /*img height='323' src='/images/quisoc/perfilweb_2.jpg' width='228'*/
    /*img height='323' src='/images/quisoc/perfilweb_3.jpg' width='228'*/
    /*img height='323' src='/images/quisoc/perfilweb_4.jpg' width='228'*/
    /*img height='323' src='/images/quisoc/perfilweb_5.jpg' width='228'*/
    /*img height='323' src='/images/quisoc/perfilweb_6.jpg' width='228'*/
    /*img height='323' src='/images/quisoc/perfilweb_7.jpg' width='228'*/
    /*img height='323' src='/images/quisoc/perfilweb_8.jpg' width='228'*/
  #text
    p Em dic Joan Divins Castellvi, i sóc estudiant de disseny gràfic a l'Elisava.
